<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        {% include disqus.html %}
      </div>
    </div>

    {% include footer.html %}
<script id="dsq-count-scr" src="//hello-gensan.disqus.com/count.js" async></script>
<div id="contentad284470"></div>
<script type="text/javascript">
    (function(d) {
        var params =
        {
            id: "14e40bbe-5139-4985-9222-064697f7242a",
            d:  "aGVsbG9nZW5zYW4uY29t",
            wid: "284470",
            cb: (new Date()).getTime()
        };

        var qs=[];
        for(var key in params) qs.push(key+'='+encodeURIComponent(params[key]));
        var s = d.createElement('script');s.type='text/javascript';s.async=true;
        var p = 'https:' == document.location.protocol ? 'https' : 'http';
        s.src = p + "://api.content.ad/Scripts/widget2.aspx?" + qs.join('&');
        d.getElementById("contentad284470").appendChild(s);
    })(document);
</script>
  </body>

</html>
